/week1/Week1/nbproject/private/
/week1/Week1/build/
/week1/HelloWorld/nbproject/private/
/week1/HelloWorld/build/
/week1/HelloGoodbye/nbproject/private/
/week1/HelloGoodbye/build/
/week1/Projects/HelloGoodbye/build/
/week1/RightTriangle/nbproject/private/
/week1/RightTriangle/build/
/week1/Projects/GreatCircle/nbproject/private/
/week1/Projects/GreatCircle/build/
/week1/Projects/CMYKtoRGB/nbproject/private/
/week1/Projects/CMYKtoRGB/build/